@import url(reset.css);

body {
  display: flex;
}
.container {
  margin: auto;
  display: flex;
  width: 70%;
  height: 50%;
  background: url(../images/Vintage-Classical-Sheet-Music-4-Preview-683x1024.jpg);
  background-size: cover;
  border: 3px solid black;
  border-radius: 20px;
}
main {
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: stretch;
  gap: 10px;
}

.profile-pic {
  width: 60%;
  margin: 20px auto;
  border: 5px solid black;
  border-radius: 40%;
}

.name {
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  color: ivory;
  font-weight: bold;
  text-shadow: 2px 2px 5px black;
  align-items: center;
  margin-top: -20px;
  /* border: 2px solid black; */
  border-radius: 20px;
  /* background-color: rgba(0, 0, 0, 0.5); */
  padding: 10px;
}
h1 {
  font-size: 2em;
  line-height: 1.3em;
  text-align: center;
}
h3 {
  font-weight: bold;
  text-align: center;
}
.company, .slogan {
  font-weight: bolder;
  font-size: 1.2em;
}

.coname {
  margin: 10px auto;
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  font-size: 1em;
  font-weight: bold;
  color: ivory;
  text-shadow: 2px 2px 5px black;
  align-items: center;
  /* border: 2px solid black; */
  border-radius: 20px;
  /* background-color: rgba(0, 0, 0, 0.5); */
  padding: 5px;
}
.slogan {
  text-align: center;
}

@media (min-width: 500px) {
  .wider {
    display: flex;
    flex-flow: row;
    text-align: center;
  }
}

@media (min-width: 800px) {
  .card {
    display: flex;
    flex-flow: row;
    padding: 10px;
  }
  .profile-pic {
    width: 30%;
  }
  .name {
    justify-content: center;
    text-align: center; 
    padding: 5px; 
    margin: auto;
  }
  .number {
    font-size: 0.8em;
  }
  .coname {
    justify-content: center;
    text-align: center; 
    padding: 5px; 
    margin: auto; 
  }
  .container {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
  }
}
