@import url(reset.css);

html {
  background: url(../images/Vintage-Classical-Sheet-Music-4-Preview-683x1024.jpg);
  background-size: cover;
}

h1, h2, h3, h4 {
  color: ivory;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
  text-align: center;
}