@import url(reset.css);

.container {
  margin: auto auto;
  width: 70%;
  height: 50%;
  background-color: beige;
}
main {
  margin: 0 auto;
  display: grid;
  gap: 10px;
}

.profile-pic {
  width: 60%;
  margin: 20px auto;
  border: 5px solid black;
  border-radius: 40%;
}

.name {
  margin: 0 auto;
  display: grid;
  color: ivory;
  text-shadow: 2px 2px 5px black;
  align-items: center;
  margin-top: -20px;
  border: 2px solid black;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  text-align: center;
}

.coname {
  margin: 10px auto;
  display: grid;
  font-size: 1em;
  color: ivory;
  text-shadow: 2px 2px 5px black;
  border: 2px solid black;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
  text-align: center;
}
.slogan {
  text-align: center;
}

@media (min-width: 500px) {
  .wider {
    display: grid;
    grid-template-columns: auto auto;
    gap: 15px;
  }
  .name {
    font-size: 1em;
    justify-content: center;
    text-align: center; 
    padding: 5px; 
    margin: auto;
  }

  .coname {
    font-size: 1em;
    justify-content: center;
    text-align: center; 
    padding: 5px; 
    margin: auto; 
  }
}

@media (min-width: 800px) {
  .card {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
  }
  .profile-pic {
    width: 80%;
  }
  .name {
    font-size: 1.5em;
    justify-content: center;
    text-align: center; 
    padding: 5px; 
    margin: auto;
  }

  .coname {
    font-size: 1.2em;
    justify-content: center;
    text-align: center; 
    padding: 5px; 
    margin: auto; 
  }
  .container {
    display: grid;
  }
}